.Repositories > h2 {
    text-align: center;
    margin-top: 50px;
}

.Repositories > p {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: grey;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
}

.error {
    text-align: center;
    color: rgb(197, 149, 149);
    padding: 10px;
    background: rgb(255, 240, 240);
    border-radius: 4px;
}
